{% extends "base.html" %}

{% block title %} 减重打卡规则 {% endblock %}

{% block content %}

    <h3>一.参与减重打卡入群首要提示</h3>
    <ol>
    <li>减重打卡群每月新建，月底或下一月初完成每月打卡任务和押金处理后，当月减重打卡群解散。</li>
    <li>入群后每月初同学们需尽快确定自己的月减重目标，并缴纳相应押金。<span style="background: #ec971f">一旦提交押金，即视为参与减重群打卡，认同减重打卡规则，一切减重的计算以发布的减重打卡规则为准。</span>当月不得中途退出，如自行退出，押金无法退还，作为奖励金及俱乐部建设基金。</li>
    </ol>

<h3>二．确定月减重目标</h3>
<p>完成目标可全额返还押金，未完成目标押金不退，作为奖励金，总奖励金的50%奖励给完成目标的同学，剩余的50%纳入俱乐部建设基金。月减重目标及相应押金按如下规则：</p>
<ul>
    <li>减重目标0.5kg （需交押金150元）</li>
    <li>减重目标1.0kg（需交押金125元）</li>
    <li>减重目标1.5kg（需交押金100元）</li>
    <li>减重目标2.0kg（需交押金75元）</li>
    <li>减重目标2.5kg（需交押金50元）</li>
    <li>减重目标3.0kg（需交押金50元）</li>
    <li>...</li>
</ul>

    <p>(目标按每0.5kg递增，减重目标为2.5kg以上均为50元押金)</p>

<h3>三．完成奖励</h3>
    <p><span style="background: #ec971f">只有完成目标者才能参与奖励，未完成者押金不退且无任何奖励，未完成者总押金的50%作为其他完成者的奖励，另外50%纳入俱乐部建设基金。</span>

其中完成月减重任务后,按月初减重目标折算奖金比例，0.5kg为1，1.0kg为2，1.5kg为3，依次类推，最后按总数和比例AA均分未完成目标的所有押金的50%。
</p>
    <h3>
四．规则说明</h3>
    <ol>
        <li>目标确定后不允许修改，参与者自愿扫码加入减重打卡群，并修改群名片格式为：<span style="color: red">[起始体重]-[目标]-[入学年份][姓名]</span>，例如：70kg-0.5kg-2014丁建军
</li>
    <li>起始体重和结束体重
        <ol type="I">
            <li><span style="color: red">每月第二天24点前</span>，图片可来自于本人当天体重计称重数据照片或者本人当天APP上显示的当天体重数据截图，此第一次体重数据作为本人当月的起始体重数据。
</li>
            <li>每月最后一天24点前必须在群里公开发出当天<span style="color: red">自身体重数据图片</span>，图片可来自于当天体重计称重数据照片或者当天APP上显示的当天体重数据截图。在最后一天24点前发出的最后一张体重数据作为本人当月的结束体重数据。
</li>
            <li>实际当月减重数值=起始称重数据-结束体重数据。
</li>
            <li>每周至少在群内公开一次体重数据，有利于群内成员互相监督，完成减重目标。
</li>
        </ol>
    </li>
<li>体重数据均以kg为单位，数据精确到小数点后2位。</li>
        <li><span style="background: red"><strong>（超过下一目标组）奖励减半，实际完成目标如超过目标数据1kg及以上则取消奖励。</strong></span></li>
    <li>本规则参照北邮MBA跑步打卡规则，未尽事宜后续继续完善。</li>
</ol>
{% endblock %}


