{% extends "base.html" %}

{% block title %} 减重打卡规则 {% endblock %}

{% block content %}
<h2>减重打卡规则（updated: 1/Aug/2020）</h2>
    <h3>一. 参与减重打卡入群首要提示</h3>
    <ol>
        <li>减重打卡群每月新建，月底或下一月初完成每月打卡任务和押金处理后，当月减重打卡群解散。</li>
        <li>入群后每月初同学们需尽快确定自己的月减重目标，并缴纳相应押金。<span style="background: #ec971f">一旦提交押金，即视为参与减重群打卡，认同减重打卡规则，一切减重的计算以发布的减重打卡规则为准。</span>当月不得中途退出，如自行退出，押金无法退还，作为奖励金及俱乐部建设基金。
        </li>
        <li>每月最后一天，晚上10点前打卡最后一次，算作本期减重的最终体重，作为衡量是否完成目标的依据（建议早上就打卡，然后就可以开启吃喝模式，你懂得！）</li>
    </ol>

    <h3>二．确定月减重目标</h3>
    <p>完成目标可全额返还押金，未完成目标押金不退，<strong>入群报完目标后群主会告知系统测算的押金，再交给高会计，所以不用着急。</strong></p>
    <p>作为奖励金，总奖励金的50%奖励给完成目标的同学，剩余的50%纳入俱乐部建设基金。月减重目标及相应押金按如下规则：</p>
    <ul>
        <li>减重目标0.5kg （需交押金150元）</li>
        <li>减重目标1.0kg（需交押金125元）</li>
        <li>减重目标1.5kg（需交押金100元）</li>
        <li>减重目标2.0kg（需交押金75元）</li>
        <li>减重目标2.5kg（需交押金50元）</li>
        <li>减重目标3.0kg（需交押金50元）</li>
        <li>...</li>
    </ul>

    <p>(目标按每0.5kg递增，减重目标为2.5kg以上均为50元押金)</p>

    <h3>三．完成奖励</h3>
    <p><span style="background: #ec971f">只有完成目标者才能参与奖励，未完成者押金不退且无任何奖励，未完成者总押金的50%作为其他完成者的奖励，另外50%纳入俱乐部建设基金。</span>

        其中完成月减重任务后,按月初减重目标折算奖金比例，0.5kg为1，1.0kg为2，1.5kg为3，依次类推，最后按总数和比例AA均分未完成目标的所有押金的50%。
    </p>
    <h3>
        四．规则说明</h3>
    <ol>
        <li>目标确定后不允许修改，参与者自愿扫码加入减重打卡群，并修改群名片格式为：<span style="color: red">[起始体重]-[目标]-[入学年份][姓名]</span>，例如：70kg-0.5kg-2014丁建军
        </li>
        <li>起始体重和结束体重
            <ol type="I">
                <li><span style="color: red">每月第二天24点前</span>，图片可来自于本人当天体重计称重数据照片或者本人当天APP上显示的当天体重数据截图，此第一次体重数据作为本人当月的起始体重数据。
                </li>
                <li>鼓励大家持续参与，减重不可急功近利。本期结束后如继续参加下期，则本期最终体重为下期的初始体重。</li>
                <li>每月最后一天22点前必须在群里公开发出当天<span style="color: red">自身体重数据图片</span>，图片可来自于当天体重计称重数据照片或者当天APP上显示的当天体重数据截图。在最后一天22点前发出的最后一张体重数据作为本人当月的结束体重数据。
                </li>

                <li>实际当月减重数值=起始称重数据-结束体重数据。
                </li>
                <li>每周至少在群内公开一次体重数据，有利于群内成员互相监督，完成减重目标。
                </li>

            </ol>
        </li>
        <li>体重数据均以kg为单位，数据精确到小数点后2位。</li>
        <li><span style="background: red"><strong>（超过下一目标组）奖励减半，实际完成目标如超过目标数据1kg及以上则取消奖励。</strong></span></li>
        <li>本规则参照北邮MBA跑步打卡规则，未尽事宜后续继续完善。</li>
    </ol>
    <h3>五. Q&A</h3>
    <ol>
        <li>问：干嘛又弄个减重打卡？<br>答：自己减重多无聊啊，一起玩耍不好么。</li>
        <li>问：如何定目标？<br>答：按照自己情况来吧，建议定一个努力一下就可以够得着的目标，不要给自己太大压力，我们的目的是让体重尽可能的控制在低位且慢慢往下走，减得慢反弹就慢，体重在低位维持时间越久，就越能保持住。
        </li>
        <li>问：参加减重打卡一定会瘦吗？<br>答：不一定，减重靠的还是自己。但是你参加了打卡群，会有系统的数据记录，会有人提醒你进度，督促你打卡，让你更有减重的意识。多少年来，你都是自己在努力，现在大家一起努力。</li>
        <li>问：只参加一次有效果吗？<br>答：可能会有但是不会长久。减重是个慢活，不建议大家急功近利，减得快反弹则快，希望大家对自己的身体负责，定一个稍微一努力就能够得着的目标，多坚持这样才能真正减下来。</li>
        <li>问：你们会指导怎么减肥吗？<br>答：不会。人的体质各不相同，每个人找到适合自己的减重方法就好。但是基本原则还是有的，那就是管住嘴迈开腿，勤打卡，慢慢减，坚持坚持再坚持。</li>
        <li>问：具体打卡的内容是什么？需要打吃的卡运动的卡都吗？<br>答：每周至少打卡一次，带有体重的app截图或者能显示体重的电子秤照片。我们会帮大家把体重录入系统。其他不做要求。</li>
        <li>问：可以中途修改目标或者提前退出吗？ <br>答：目标定好无法修改，可以中途退出但是押金无法退。很抱歉，除了录入体重，其他所有数据都是系统生成和管理的，一旦设置无法修改</li>
        <li>问：什么时候交押金？如何交押金？<br>答：每期减重开始后，报自己的初始体重和减重目标后，系统自动计算押金，群主会贴出明细，然后再直接发押金给高会计即可，等群主喊话不用急。</li>
        <li>问：什么时候分奖金？<br>答：每期结束后系统自动计算奖金，高会计会在三个工作日内发给大家。</li>
        <li>问：体重都什么时候称？<br>答：体重一天内的变化比较大，建议大家称体重都在同一时间同样的条件下称，对自己诚实哦。例如我都是早上厕所后空腹称重。</li>
        <li>问：如何保证公平性？<br>确实很难，大多是靠大家自觉。另外，连续参与打卡的，本期结束的体重会成为下期的初始体重，这样是为了减少大家月底突击的现象。不能说今天达到目标80kg拿完奖金，明天新一期体重又从82kg开始报，这样显然不合理。这么做也是为了让大家真正的能减下来。
        </li>
        <li>问：规则赶紧好复杂啊，能一句话说清楚吗？<br>答：可以，我们的整个系统都是运行在规则逻辑之上，如果你相信系统的客观，那么只要记住：入群报初始体重和目标，每周至少打体重卡一次，不要减的超过目标太多。剩下的就交给系统来处理即可。
        </li>
    </ol>
{% endblock %}


