{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static '/images/logo.ico' %}">
<!-- Bootstrap core CSS -->

    <link href="{% static 'js/bootstrap.min.js' %} ">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
<!-- 我在写代码的时候导入了很多datatables的第三方包，视情况而使用 -->
<!-- <link href="https://v3.bootcss.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet"> -->

    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>



    <!-- <link rel="stylesheet" type="text/css" href="plugin/datatables/jquery.dataTables.min.css">

        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    -->
</head>
<style>
    .base_body {
        padding-top: 50px;
    }
</style>
<body>
{% include "header.html" %}
<div class="container base_body">
    {% block content %} {% endblock %}
</div>
{% include "footer.html" %}
{% block javascript %} {% endblock %}
</body>

<script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
